/* .table-container {
    margin: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container ul {
    padding-left: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-table th, .order-table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
}

.order-table th {
    background-color: #e6e6e6;
} */
.table-container {
    margin: 20px;
    width: 80%;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container th, .table-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.table-container th {
    background-color: #f2f2f2;
}
.table-container button {
    margin-right: 5px;
    padding: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.add-user-form input {
    margin-right: 5px;
    padding: 5px;
}

.user-details {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

.user-details h4 {
    margin-bottom: 15px;
    text-align: center;
}

.user-details ul {
    list-style-type: none;
    padding: 0;
}

.user-details li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.user-details li p {
    margin: 5px 0;
}

.user-details li p strong {
    font-weight: bold;
    color: #333;
}

.user-details button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-details button:hover {
    background-color: #45a049;
}
